/* Dark Theme */
body.dark {
  background-color: #1F1F1F;
  color: #FFFFFF;
  ;
}

/* Light Theme */ 
body.light {
    background-color: #FCFCFC;
    color: #161616;
  }

/* Violet Theme */
body.violet {
  background-color: #6a1b9a;
  color: #fff;
}