@import-normalize; /* bring in normalize.css styles */

:root {
  /* Common styles for all themes */
  --background-color: #FCFCFC;
  --text-color: #161616;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
  background-image: url( ' https://us.123rf.com/450wm/pro500/pro5002006/pro500200600070/148696058-science-network-pattern-connecting-lines-and-dots-technology-hexagons-structure-or-molecular.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  }
  /* */
  /* https://www.shutterstock.com/image-vector/vector-white-background-abstract-technology-260nw-761140228.jpg */
  /* https://us.123rf.com/450wm/pro500/pro5002006/pro500200600070/148696058-science-network-pattern-connecting-lines-and-dots-technology-hexagons-structure-or-molecular.jpg */
 /* /// background-image: url( 'https://st.depositphotos.com/1084193/1999/v/450/depositphotos_19997071-great-light-futuristic-computer-technology-business-background-b.jpg'); */
 /* https://www.shutterstock.com/image-vector/big-data-visualization-background-modern-260nw-1405076867.jpg */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}





